<h3>Refine My Search</h3>
<div>
	<h4>Location</h4>
	<label for="state">State: </label>
	<select id="states" name="state" class="filter">
		<option value="all" selected>All</option>
		<% @states.each do |state| %>
			<option value="<%= state %>"><%= state %></option>
		<% end %>
	</select>
	<br/>

	<label for="country">Country: </label>
	<select id="countries" name="country" class="filter">
		<option value="all" selected>All</option>
		<% @countries.each do |country| %>
			<option value="<%= country %>">&nbsp;</option>
		<% end %>
	</select>
</div>

<script>
$(document).ready(function() {
	/////////////////////////////////////////////////////////////////////////////
	// Populate initial counts for states and countries
	/////////////////////////////////////////////////////////////////////////////
	refreshFilters(".school_summary", ".filter");

	/////////////////////////////////////////////////////////////////////////////
	// Disable state filter when the country is not US or all on country change.
	/////////////////////////////////////////////////////////////////////////////
	$("#countries").change(function() {
		var value = $(this).val().toLowerCase();

		if ($.inArray(value, ["all", "usa"]) == -1)
			$("#states").prop("disabled", true).val("all");
		else
			$("#states").prop("disabled", false);

		runFilter(".school_summary", ".filter");
		refreshFilters(".school_summary", ".filter");
	});

	/////////////////////////////////////////////////////////////////////////////
	// State changes
	/////////////////////////////////////////////////////////////////////////////
	$("#states").change(function() {
		runFilter(".school_summary", ".filter");
		refreshFilters(".school_summary", ".filter");
	});
});
</script>
