<div class="row">
	<div class="small-12 columns filter-box">
		<p>Institution</p>

		<p class="filter-p">
			<input type="radio" id="all-school" name="institution_type" class="filter" value="all" checked />
			<label id="all-school-label" for="all-school">All (<%= @kilter.count(:all) %>)</label>
		</p>
	</div>

	<!-- missing stuff -->
</div><!--end row-->