<!--Timeline-->
<div class="row">
  <div class="usa-card usa-card-fill add-resources small-12 columns">
    <div class="usa-card-header">
      Additional Resources
    </div>
    <div class="usa-card-content">
      <ul>
        <li class="horz-timeline-text">
          <a id="timeline-explore-career" href="http://www.benefits.va.gov/gibill/careerscope.asp" class="noback" target="_blank"><div class="fa-additional-resources">1</div>Explore Your Career</a>
        </li>
        <li class="horz-timeline-text">
          <div class="fa-additional-resources fa-current-location">2</div>GI Bill Comparison Tool
        </li>
        <li class="horz-timeline-text">
          <a id="timeline-choose-a-school" href="http://www.benefits.va.gov/gibill/choosing_a_school.asp" class="noback" target="_blank"><div class="fa-additional-resources">3</div>Choose a School</a>
        </li>
        <li class="horz-timeline-text">
          <a id="timeline-apply-for-GI-Bill" href="https://www.ebenefits.va.gov/ebenefits-portal/ebenefits.portal?_nfpb=true&_nfxr=false&_pageLabel=Vonapp" class="noback" target="_blank"><div class="fa-additional-resources">4</div>Apply for GI Bill</a>
        </li>
        <li class="horz-timeline-text">
          <a id="timeline-succeed-in-school" href="http://www.benefits.va.gov/vocrehab/edu_voc_counseling.asp" class="noback" target="_blank"><div class="fa-additional-resources">5</div>Succeed in School</a>
        </li>
        <li class="horz-timeline-text">
          <a id="timeline-find-employment-vec"href="https://www.vets.gov/veterans-employment-center/" class="noback" target="_blank"><div class="fa-additional-resources">6</div>Find Employment</a>
        </li>
      </ul>
    </div> 
  </div> 
</div>    

<!--Transition Video-->  
<div class="row">
  <div class="whats-your-plan small-12 columns">
    <div class="usa-card usa-card-fill">
      <div class="usa-card-header">
        What's Your Plan?
      </div>
      <div class="usa-card-content">
        <p>
          Transitioning to civilian life takes preparation, research, planning, and the right tools. We're here to help you make the right decisions on where to use your hard earned benefits! 
        </p>
        <iframe width="100%" src="https://www.youtube.com/embed/Z1ttkv9oRI4" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
