<div><h3>Benefits Calculator</h3></div>

<!-- ====================================================================== -->
<!-- Calculator Controls                                                    -->
<!-- ====================================================================== -->
<div>
	<h4>Calculate Your Detailed Benefits</h4>
	<table>
		<tr>
			<!-- In state/Out of state -->
			<td>
				<div id="in-state-tuition-fees-form">
					<label class="question">In-state student?</label>
       		<input id="in-state-yes" name="In-state" type="radio" value="yes" checked />
					<label for="in-state-yes">Yes</label><br>
       		<input id="in-state-no" name="In-state" type="radio" value="no" />
       		<label for="in-state-no">No</label>
      	</div>
			</td>

			<!-- Yellow Ribbon -->
			<td>
				<div id="yellow-ribbon-recipient-form">
          <label class="question">Receiving Yellow Ribbon?</label>
          <input id="yellow-ribbon-recipient-yes" name="Receiving Yellow Ribbon" type="radio" value="yes" />
          <label class="radio" for="yellow-ribbon-recipient-yes">Yes</label>
          <input id="yellow-ribbon-recipient-no" name="Receiving Yellow Ribbon" type="radio" value="no" checked />
          <label class="radio" for="yellow-ribbon-recipient-no">No</label>
        </div>
      </td>
		</tr>
		<tr>
		</tr>
	</table>
</div>