<div class="usa-width-one-whole">
    
    <table class="usa-table-borderless">
    <thead>
        <tr>
            <th scope="col">Benefit</th>
            <th scope="col">Recipients</th>
            <th scope="col">Paid (FY'14)</th>
        </tr>
        </thead>
        <tr>
            <th scope="row">Post-9/11 GI Bill:</th>
            <td><%=  number_with_delimiter(@school.p911_recipients) %></td>
            <td><%= number_to_currency(@school.p911_tuition_fees) %></td>
        </tr>
        <tr>
            <th scope="row">Yellow Ribbon:</th>
            <td><%=  number_with_delimiter(@school.p911_yr_recipients) %></td>
            <td><%= number_to_currency(@school.p911_yellow_ribbon) %></td>
        </tr>
        
    </table>
</div>