<ul>
  <li class="horz-timeline-text">
    <a href="http://www.benefits.va.gov/gibill/careerscope.asp" onClick="ga('send', 'event', { eventCategory: 'Timeline Sidebar', eventAction: 'Explore Your Career', eventLabel: 'Click'});" target="_blank"><i class="fa fa-search fa-additional-resources"></i>Explore Your Career</a>
  </li>
  <li class="horz-timeline-text">
    <i class="fa fa-balance-scale fa-additional-resources current-location"></i>GI Bill Comparison Tool
  </li>
  <li class="horz-timeline-text">
    <a href="http://www.benefits.va.gov/gibill/choosing_a_school.asp" onClick="ga('send', 'event', { eventCategory: 'Timeline Sidebar', eventAction: 'Choose a School', eventLabel: 'Click'});" target="_blank"><i class="fa fa-university fa-additional-resources"></i>Choose a School</a>
  </li>
  <li class="horz-timeline-text">
    <a href="https://www.ebenefits.va.gov/ebenefits-portal/ebenefits.portal?_nfpb=true&_nfxr=false&_pageLabel=Vonapp" onClick="ga('send', 'event', { eventCategory: 'Timeline Sidebar', eventAction: 'Apply for GI Bill', eventLabel: 'Click'});" target="_blank"><i class="fa fa-list-ol fa-additional-resources"></i>Apply for GI Bill</a>
  </li>
  <li class="horz-timeline-text">
    <a href="http://www.benefits.va.gov/vocrehab/edu_voc_counseling.asp" onClick="ga('send', 'event', { eventCategory: 'Timeline Sidebar', eventAction: 'Succeed in School', eventLabel: 'Click'});" target="_blank"><i class="fa fa-graduation-cap fa-additional-resources"></i>Succeed in School</a>
  </li>
  <li class="horz-timeline-text">
    <a href="https://www.vets.gov/veterans-employment-center/" onClick="ga('send', 'event', { eventCategory: 'Timeline Sidebar', eventAction: 'Find Employment (VEC)', eventLabel: 'Click'});" target="_blank"><i class="fa fa-dollar fa-additional-resources"></i>Find Employment</a>
  </li>
