<div id="calculator">
  <div class="benefits">
  	<div id="benefit-calculator">
    	<h4>Calculate Your Detailed Benefits</h4>
    </div>
			
			<!-- Contains Calcualtor Inputs  -->
    	<div class="calc-questions large-6 columns nopadding">
    		<div id="tuition-fees-section">
      		<div id="in-state" class="form-group">
        		<label class="question">In-state student? 
							<!--         <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#in_state_residency" onclick="track('Tool Tips', 'Calculator / In-State Student');" target="_blank" class="info-link" aria-describedby="in-state-tooltip"><span aria-hidden="true">i</span><span class="sr-only">More information about in-state tuition</span></a>-->
						</label>
						<!--        	<span class="aria-tooltip" id="in-state-tooltip" role="tooltip">In-state residents are charged a discounted rate of tuition and fees.</span>-->
        		<input id="in-state-yes" name="in_state" type="radio" value="yes" checked="" class="filter-item filter-in-state"/>
        		<label class="radio" for="in-state-yes">Yes</label>
        		<input id="in-state-no" name="in_state" type="radio" value="no" class="filter-item filter-in-state"/>
        		<label class="radio" for="in-state-no">No</label>
      		</div>

      		<div id="tuition-fees-form" class="form-group top-aligned">
        		<label for="tuition-fees-input">Tuition / Fees (/year):&nbsp;<a id="go" rel="leanModal" name="status" href="#calc-tuition" class="info-icons"><i id="tuition-fees-info" class="fa fa-info-circle info-icons"></i></a> 
							<!--                <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#tuition_fees_input" onclick="track('Tool Tips', 'Calculator / Tuition Fees');" target="_blank" class="info-link" aria-describedby="tuition-fees-input-tooltip"><span aria-hidden="true">i</span><span class="sr-only">More information about tuition fees</span></a>-->
						</label>
						<!--        	<span class="aria-tooltip" id="tuition-fees-input-tooltip" role="tooltip">Enter the total tuition/fees, you will be charged for the academic year.</span>-->
        		<input id="tuition-fees-input" type="text" value="$0" name="Tuition Fees" alt="Tuition Fees" class="filter-item"/>
      		</div>

	      	<div id="in-state-tuition-fees-form" class="form-group top-aligned">
		        <label for="in-state-tuition-fees">In-state Tuition / Fees (/year): &nbsp;<a id="go" rel="leanModal" name="status" href="#retention"><i id="in-state-info" class="fa fa-info-circle info-icons"></i></a>
							<!--                <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#in_state_residency" onclick="track('Tool Tips', 'Calculator / In-State Tuition Fees');" target="_blank" class="info-link" aria-describedby="in-state-tuition-fees-tooltip"><span aria-hidden="true">i</span><span class="sr-only">More information on how in-state tuition costs</span></a>-->
						</label>
						<!--	        <span class="aria-tooltip" id="in-state-tuition-fees-tooltip" role="tooltip">In-state residents are charged a discounted rate of tuition and fees.</span>-->
		        <input id="in-state-tuition-fees" type="text" value="$0" name="In-state Tuition Fees" alt="In-state Tuition Fees" class="filter-item"/>
	      	</div>

		      <div id="books-input-row">
		        <label for="books-input">Books / Supplies (/year): 
							<!--                <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#books_input" onclick="track('Tool Tips', 'Calculator / Books &amp; Supplies');" target="_blank" class="info-link" aria-describedby="books-input-tooltip"><span aria-hidden="true">i</span><span class="sr-only">More information on how much books cost</span></a>-->
						</label>
						<!--	        <span class="aria-tooltip" id="books-input-tooltip" role="tooltip">How much will you spend on books and supplies next year?</span>-->
		        <input id="books-input" type="text" value="$0" name="Books" alt="Books" class="filter-item"/>
		      </div>

		      <div id="yellow-ribbon-recipient-form">
		        <label class="question">Receiving Yellow Ribbon?&nbsp;<a id="go" rel="leanModal" name="status" href="#calc-yr" class="info-icons"><i id="yellow-ribbon-info" class="fa fa-info-circle info-icons"></i></a>
							<!--	          <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#yellow_ribbon_from_school" onclick="track('Tool Tips', 'Calculator / Receiving Yellow Ribbon');" target="_blank" class="info-link" aria-describedby="yellow-ribbon-recipient-form-tooltip"><span aria-hidden="true">i</span><span class="sr-only">More information on receiving yellow ribbon benefits</span></a>-->
						</label>
						<!--	          <span class="aria-tooltip" id="yellow-ribbon-recipient-form-tooltip" role="tooltip"> Only Veterans entitled to the maximum benefit rate (based on service requirements) or their designated transferees may receive this funding. Active duty Servicemembers and their spouses are not eligible.</span>-->
		        <input id="yellow-ribbon-recipient-yes" name="receiving_yellow_ribbon" type="radio" value="yes" class="filter-item">
		        <label class="radio" for="yellow-ribbon-recipient-yes">Yes</label>
		        <input id="yellow-ribbon-recipient-no" name="receiving_yellow_ribbon" type="radio" value="no" checked class="filter-item">
		        <label class="radio" for="yellow-ribbon-recipient-no">No</label>
		      </div>

		      <div id="yellow-ribbon-amount-form" class="form-group top-aligned">
		      	<%
		      		link = @school.state.present? ? "http://www.benefits.va.gov/gibill/yellow_ribbon/2015/states/#{@school.state}.asp" : ""

		      		l_str = link.present? ? "<a target=\"blank\" href=\"#{link}\" class=\"see-yr-rates-summary\"> See YR Rates</a>" : ""

		      	%>
		        <!-- Yellow Ribbon Amount -->

		        <label for="yellow-ribbon-amount">Yellow Ribbon Amount From School (/year) : 
<!--
		        <label for="yellow-ribbon-amount">Yellow Ribbon Amount From School (/year):&nbsp;<a id="go" rel="leanModal" name="status" href="#calc-yr"><i class="fa fa-info-circle info-icons outcomes-learnmore"></i></a> 
-->
							<!--                <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#yellow_ribbon_from_school" onclick="track('Tool Tips', 'Calculator / Yellow Ribbon Amount');" target="_blank" class="info-link" aria-describedby="yellow-ribbon-amount-tooltip"><span aria-hidden="true">i</span><span class="sr-only">More information on yellow ribbon benefits</span></a>-->
						</label>
						<!--	        <span class="aria-tooltip" id="yellow-ribbon-amount-tooltip" role="tooltip">VA matches each dollar of unmet charges the institution agrees to contribute up to the total cost of tuition and fees.</span>-->
		        <input id="yellow-ribbon-amount" type="text" value="$0" name="Yellow Ribbon Amount From School" alt="Yellow Ribbon Amount From School" class="filter-item" />
		        <%= l_str.html_safe %>
		      </div>

	      	<div id="yellow-ribbon-rates-link" class="form-group"></div>

		      <div id="scholarship-amount-form" class="form-group top-aligned">
		        <label for="scholar">Scholarships (not Pell):&nbsp;<a id="go" rel="leanModal" name="status" href="#calc-scholarships" class="info-icons"><i id="scholarships-info" class="fa fa-info-circle info-icons"></i></a> 
							<!--                <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#scholarships" onclick="track('Tool Tips', 'Calculator / Scholarships');" target="_blank" class="info-link" aria-describedby="scholar-tooltip"><span aria-hidden="true">i</span><span class="sr-only">More information on scholarships</span></a>-->
						</label>
						<!--	        <span class="aria-tooltip" id="scholar-tooltip" role="tooltip">Only include scholarships and grants that go directly to pay tuition/fees.</span>-->
		        <input id="scholar" type="text" value="$0" name="Scholarships (not Pell)" alt="How much are you receiving in scholarships and not Pell grants" class="filter-item" />
		      </div>
    		</div>

    		<div id="tuition-assist-form" class="form-group top-aligned">
		      <label for="tuition-assist">Military Tuition Assistance:&nbsp;<a id="go" rel="leanModal" name="status" href="#retention" class="info-icons"><i id="military-tuition-assistance-info" class="fa fa-info-circle info-icons"></i></a> 
						<!--              <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#military_tuition_assist" onclick="track('Tool Tips', 'Calculator / Military Tuition Assistance');" target="_blank" class="info-link" aria-describedby="tuition-assist-form-tooltip"><span aria-hidden="true">i</span><span class="sr-only">More information on military tuition assistance</span></a>-->
					</label>
					<!--	      <span class="aria-tooltip" id="tuition-assist-form-tooltip" role="tooltip">The Post-9/11 GI Bill pays the net-cost of your education after scholarships or financial aid amounts are applied. This includes amounts already paid by military tuition assistance.</span>-->
		      <input id="tuition-assist" type="text" value="$0" name="Military Tuition Assistance" alt="How much are you receiving in military tuition assistance" class="filter-item" />
    		</div>

    		<div id="enrollment-section">
      		<div id="enrolled-form">
	      		<label for="enrolled">Enrolled:&nbsp;<a id="go" rel="leanModal" name="status" href="#calc-enrolled" class="info-icons"><i id="enrolled-info" class="fa fa-info-circle info-icons"></i></a> 
							<!--                <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#rate_of_pursuit" onclick="track('Tool Tips', 'Calculator / Enrolled');" target="_blank" class="info-link" aria-describedby="enrolled-tooltip"><span aria-hidden="true">i</span><span class="sr-only">More information on enrollment</span></a>-->
						</label>
						<!--	        <span class="aria-tooltip" id="enrolled-tooltip" role="tooltip">Students attending school less then full-time receive a pro-rated monthly housing allowance. Students attending school exactly ½ time or less do not receive a monthly housing allowance.</span>-->
	        	<div>
	          	<select id="enrolled" name="Enrolled" alt="Select your enrollment level" class="filter-item">
	            	<option value="1.0">Full Time</option>
	            	<option value="0.8">¾ Time</option>
	            	<option value="0.6">More than ½ time</option>
	            	<option value="0">½ Time or less</option>
	          	</select>
	        	</div>
      		</div>

	      	<!-- Rate of Pursuit Old -->
		      <div id="enrolled-form-old-gi-bill">
		        <label for="enrolled-old">Enrolled:&nbsp;<a id="go" rel="leanModal" name="status" href="#calc-enrolled" class="info-icons"><i id="enrolled-old-info" class="fa fa-info-circle info-icons"></i></a> 
							<!--                <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#rate_of_pursuit_old" onclick="track('Tool Tips', 'Calculator / Enrolled Old');" target="_blank" class="info-link" aria-describedby="enrolled-old-tooltip"><span aria-hidden="true">i</span><span class="sr-only">More information on enrollment</span></a>-->
						</label>
						<!--	        <span class="aria-tooltip" id="enrolled-old-tooltip" role="tooltip">Students attending school less than full-time receive a pro-rated monthly benefit.</span>-->
		        <div>
		          <select id="enrolled-old" name="Enrolled" alt="Select your enrollment level" class="filter-item">
		            <option value="full">Full Time</option>
		            <option value="three quarter">¾ Time</option>
		            <option value="half">1/2 Time </option>
		            <option value="less than half">Less than ½ time more than ¼ time</option>
		            <option value="quarter">1/4 time or less</option>
		          </select>
		        </div>
		      </div>

		      <div id="calendar-form">
		        <label for="calendar">School Calendar:&nbsp;<a id="go" rel="leanModal" name="status" href="#calc-school-calendar" class="info-icons"><i id="school-calendar-info" class="fa fa-info-circle info-icons"></i></a>
							<!--                <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#school_calendar" onclick="track('Tool Tips', 'Calculator / School Calendar');" target="_blank" class="info-link"aria-describedby="calendar-tooltip"><span aria-hidden="true">i</span><span class="sr-only">More information on school calendars</span></a>-->
						</label>
						<!--	        <span class="aria-tooltip" id="calendar-tooltip" role="tooltip">Is your school on a semester, quarter or non-traditional calendar system?</span>-->
		        <div>
		          <select id="calendar" name="School Calendar" alt="Select type of school calendar" class="filter-item">
		            <option value="semesters">Semesters</option>
		            <option value="quarters">Quarters</option>
		            <option value="nontraditional">Non-Traditional</option>
		          </select>
		        </div>
		      </div>

		      <div id="working-form" class="form-group top-aligned">
		        <label for="working">Will be working:&nbsp;<a id="go" rel="leanModal" name="status" href="#retention" class="info-icons"><i id="will-be-working-info" class="fa fa-info-circle info-icons"></i></a> 
							<!--                <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#rate_of_pursuit_ojt" onclick="track('Tool Tips', 'Calculator / Will Be Working');" target="_blank" class="info-link" aria-describedby="working-tooltip"><span aria-hidden="true">i</span><span class="sr-only">More information on working</span></a>-->
						</label>
						<!--	        <span class="aria-tooltip" id="working-tooltip" role="tooltip">How many hours per week will you be working?</span>-->
		        <select id="working" name="Will be working" alt="Select how much you will be working" class="filter-item">
		          <option value="30">30+ hrs / week</option>
		          <option value="28">28 hrs / week</option>
		          <option value="26">26 hrs / week</option>
		          <option value="24">24 hrs / week</option>
		          <option value="22">22 hrs / week</option>
		          <option value="20">20 hrs / week</option>
		          <option value="18">18 hrs / week</option>
		          <option value="16">16 hrs / week</option>
		          <option value="14">14 hrs / week</option>
		          <option value="12">12 hrs / week</option>
		          <option value="10">10 hrs / week</option>
		          <option value="8">8 hrs / week</option>
		          <option value="6">6 hrs / week</option>
		          <option value="4">4 hrs / week</option>
		          <option value="2">2 hrs / week</option>
		        </select>
		      </div>

		      <div id="number-non-traditional-terms-form" class="form-group top-aligned">
		        <label for="number-non-traditional-terms">How many terms / year? 
							<!--                <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#school_calendar" onclick="track('Tool Tips', 'How Many Terms');" target="_blank" class="info-link" aria-describedby="number-non-traditional-terms-tooltip"><span aria-hidden="true">i</span><span class="sr-only">More information on non traditional terms</span></a>-->
						</label>
						<!--	        <span class="aria-tooltip" id="number-non-traditional-terms-tooltip" role="tooltip">How many academic terms are there in a school year?</span>-->
		        <select id="number-non-traditional-terms" name="How many terms / year?" alt="Select how many terms / year?" class="filter-item">
		          <option value="3">Three</option>
		          <option value="2" selected>Two</option>
		          <option value="1">One</option>
		        </select>
		      </div>

		      <div id="length-non-traditional-terms-form" class="form-group top-aligned">
		        <label for="length-non-traditional-terms">How long is each term? 
							<!--                <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#school_calendar" onclick="track('Tool Tips', 'Calculator / Non-Traditional Term Length');" target="_blank" class="info-link" aria-describedby="length-non-traditional-terms-tooltip"><span aria-hidden="true">i</span><span class="sr-only">More information on length of academic term?</span></a>-->
						</label>
						<!--	        <span class="aria-tooltip" id="length-non-traditional-terms-tooltip" role="tooltip">How long is each academic year?</span>-->
		        <select id="length-non-traditional-terms" name="How long is each term?" alt="Select how long is each term?" class="filter-item">
		          <option value="1">1 month</option>
		          <option value="2">2 months</option>
		          <option value="3" selected>3 months</option>
		          <option value="4">4 months</option>
		          <option value="5">5 months</option>
		          <option value="6">6 months</option>
		          <option value="7">7 months</option>
		          <option value="8">8 months</option>
		          <option value="9">9 months</option>
		          <option value="10">10 months</option>
		          <option value="11">11 months</option>
		          <option value="12">12 months</option>
		        </select>
		      </div>

		      <div id="kicker-elig-form">
		        <label class="question">Eligible for Kicker:&nbsp;<a id="go" rel="leanModal" name="status" href="#calc-kicker" class="info-icons"><i id="eligible-for-kicker-info" class="fa fa-info-circle info-icons"></i></a> 
							<!--                <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#kicker" onclick="track('Tool Tips', 'Calculator / Eligible for Kicker');" target="_blank" class="info-link" aria-describedby="kicker-elig-form-tooltip"><span aria-hidden="true">i</span><span class="sr-only">More information on kickers</span></a>-->
						</label>
						<!--	        <span class="aria-tooltip" id="kicker-elig-form-tooltip" role="tooltip">A kicker bonus is an additional incentive, paid for by the Department of Defense, to extend a tour of duty or retain highly skilled military personnel.</span>-->
		        <input id="kicker-elig-yes" name="kicker_eligible" type="radio" value="yes" class="filter-item">
		        <label class="radio" for="kicker-elig-yes">Yes</label>
		        <input id="kicker-elig-no" name="kicker_eligible" type="radio" value="no" checked="" class="filter-item">
		        <label class="radio" for="kicker-elig-no">No</label>
		      </div>

		      <div id="kicker-form" class="form-group top-aligned">
		        <label for="kicker">How much is your kicker?&nbsp;<a id="go" rel="leanModal" name="status" href="#calc-kicker" class="info-icons"><i id="how-much-kicker-info" class="fa fa-info-circle info-icons"></i></a> 
							<!--                <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#kicker" onclick="track('Tool Tips', 'Calculator / How Much is Kicker');" target="_blank" class="info-link" aria-describedby="kicker-form-tooltip"><span aria-hidden="true">i</span><span class="sr-only">More information on kickers</span></a>-->
						</label>
						<!--	        <span class="aria-tooltip" id="kicker-form-tooltip" role="tooltip">A kicker bonus is an additional incentive, paid for by the Department of Defense, to extend a tour of duty or retain highly skilled military personnel.</span>-->
		        <input id="kicker" type ="text" value="$200" name="How much is your kicker?" alt="Tell us how much is your kicker was for?" class="filter-item" />
		      </div>

		    	<!-- Eligible for Buy-up -->
		      <div id="buy-up-form">
		        <label class="question">Participate in buy-up program? 
							<!--                <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#buy_up" onclick="track('Tool Tips', 'Calculator / Buy Up);" target="_blank" class="info-link" aria-describedby="buy-up-form-tooltip"><span aria-hidden="true">i</span><span class="sr-only">More information on buy-up</span></a>-->
						</label>
						<!--	        <span class="aria-tooltip" id="buy-up-form-tooltip" role="tooltip">Some Servicemembers may have contributed an additional $600 to the GI Bill to receive increased monthly benefit payments. This increased monthly benefit is only applicable to the Montgomery GI Bill or REAP</span>-->
		        <input id="buy-up-yes" name="buy-up" type="radio" value="yes" class="filter-item" />
		        <label class="radio" for="buy-up-yes">Yes</label>
		        <input id="buy-up-no" name="buy-up" type="radio" value="no" checked class="filter-item" />
		        <label class="radio" for="buy-up-no">No</label>
		      </div>

		      <div id="buy-up-rate-form" class="form-group top-aligned">
		        <label for="buy-up-rate">How much did you pay toward buy-up? 
							<!--                <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#buy_up" onclick="track('Tool Tips', 'Calculator / Buy Up');" target="_blank" class="info-link" aria-describedby="buy-up-rate-form"><span aria-hidden="true">i</span><span class="sr-only">More information on buy-up</span></a>-->
						</label>
						<!--	        <span class="aria-tooltip" id="buy-up-rate-form" role="tooltip"> Some Servicemembers may have contributed an additional $600 to the GI Bill to receive increased monthly benefit payments. This increased monthly benefit is only applicable to the Montgomery GI Bill or REAP</span>-->
		        <select id="buy-up-rate" name="How much did you pay?" alt="Select how much you paid" class="filter-item">
		          <option value="600">$600</option>
		          <option value="580">$580</option>
		          <option value="540">$540</option>
		          <option value="520">$520</option>
		          <option value="500">$500</option>
		          <option value="480">$480</option>
		          <option value="460">$460</option>
		          <option value="440">$440</option>
		          <option value="420">$420</option>
		          <option value="400">$400</option>
		          <option value="380">$380</option>
		          <option value="340">$340</option>
		          <option value="320">$320</option>
		          <option value="300">$300</option>
		          <option value="280">$280</option>
		          <option value="260">$260</option>
		          <option value="240">$240</option>
		          <option value="220">$220</option>
		          <option value="200">$200</option>
		          <option value="180">$180</option>
		          <option value="140">$140</option>
		          <option value="120">$120</option>
		          <option value="100">$100</option>
		          <option value="80">$80</option>
		          <option value="60">$60</option>
		          <option value="40">$40</option>
		          <option value="20">$20</option>
		        </select>
		      </div>
    		</div>
			</div>      
  	
  	<!-- End Calucaltor Inputs -->
      
  	<div class="calc-outputs  large-5 large-offset-1 columns">
  		<!-- Contains Calcualtor Outputs  -->
			<div id="calculated-benefits" class="align-center">
                <h3>Calculator Results</h3>
		  	<table class="calc-results-1">
		    	<tbody>
		      	<tr id="calc-housing-allow-rate-row">
              <th  class="noborder align-right">Housing Allowance:</th>
              <td colspan="2" id="housing-allow-rate" class="noborder align-left">$0</td>
		      	</tr>
		      	<tr></tr>
		      	<tr id="calc-term-total-row">
		        	<th colspan="2" class="noborder align-right data-row border-bottom">Total GI Bill Benefits:</th>
		        	<td id="total-year" class="noborder align-left data-row"><b>$0 / yr</b></td>
		      	</tr>
			      <tr id="calc-paid-to-school-total-row">
			        <td colspan="2" class="noborder align-right data-row">Paid to school:</td>
			        <td id="total-paid-to-school" class="noborder align-left data-row">$0</td>
			      </tr>
			      <tr id="calc-paid-to-you-total-row">
			        <td colspan="2" class="noborder align-right data-row">Paid to You:</td>
			        <td id="total-paid-to-you" class="noborder align-left data-row">$0</td>
			      </tr>
		      	<tr></tr>
			      <tr id="calc-out-of-pocket-row">
			        <th colspan="2" class="noborder align-right data-row">Out of Pocket Tuition:</th>
			        <td id="total-left-to-pay" class="noborder align-left data-row">$0</td>
			      </tr>
		   	   	<tr id="calc-tuition-fees-charged-row">
		        	<td colspan="2" class="noborder align-right data-row">Tuition &amp; Fees Charged:</td>
		        	<td id="total-tuition-fees-charged"  class="noborder align-left data-row">$0</td>
		      	</tr>
		      	<tr id="calc-tuition-fees-scholarship-row">
		        	<td colspan="2" class="noborder align-right data-row">Your Scholarships:</td>
		        	<td id="total-tuition-fees-scholarships"  class="noborder align-left data-row">$0</td>
		      	</tr>
			      <tr id="calc-school-received-row">
			        <td colspan="2" class="noborder align-right data-row">GI Bill Pays:</td>
			        <td id="total-school-received" class="noborder align-left data-row">$0</td>
			      </tr>
                </table>
      </div></div>
      <div class="usa-width-one-whole newrow term-calc-results">
        <table class="calc-results-2">
		      <tr></tr>
		      <tr id="payments-to-you-terms" style=";">
		       <th aria-hidden="false"></th>
		       <td class="term1 borderless">Fall</td>
		       <td class="term2 borderless">Spring</td>
		       <td class="term3 borderless"></td>
					 <td class="term4 borderless">Total</td>
		      	</tr>
		      	<tr id="calc-tuition-fees-row">
		        	<th>
		        		<a id="tuition-fees-benefit-calc-info-link-out" href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#tuitionfees" onclick="track('Tool Tips', 'Benefit Calculator / Tuition Fees');" target="_blank" alt="Click here for more information about the tuition/fees benefit.">
		        			Tuition / Fees Benefit:
		        		</a>
		        	</th>
		        	<td id="tuition-fees-term-1">$0 / term</td>
		        	<td id="tuition-fees-term-2">$0 / term</td>
		        	<td id="tuition-fees-term-3"></td>
		        	<td id="tuition-fees-total" style="font-weight: bold;">$0 / yr</td>
		      	</tr>
		      	<tr id="calc-yellow-ribbon-row">
			        <th>
			        	<a id="yellow-ribbon-school-calc-info-link-out" href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#yellowribbon" onclick="track('Tool Tips', 'Benefit Calculator / Yellow Ribbon (School)');" target="_blank" alt="Click here for more information.">
			        		Yellow Ribbon (School):
			        	</a>
			        </th>
			        <td id="yr-ben-term-1">$0 / term</td>
			        <td id="yr-ben-term-2">$0 / term</td>
			        <td id="yr-ben-term-3"></td>
			        <td id="yr-ben-total" style="font-weight: bold;">$0 / yr</td>
		      	</tr>
			      <tr id="calc-yellow-ribbon-va-row">
			        <th>
			        	<a id="yellow-ribbon-va-calc-info-link-out" href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#yellowribbon" onclick="track('Tool Tips', 'Benefit Calculator / Yellow Ribbon (VA)');" target="_blank" alt="Click here for more information.">
			        		Yellow Ribbon (VA):
			        	</a>
			        </th>
			        <td id="yr-ben-term-va-1">$0 / term</td>
			        <td id="yr-ben-term-va-2">$0 / term</td>
			        <td id="yr-ben-term-va-3"></td>
			        <td id="yr-ben-va-total" style="font-weight: bold;">$0 / yr</td>
			      </tr>
			      <tr>
			        <th>
			        	<a id="housing allowance-calc-info-link-out" href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#housingallowance" onclick="track('Tool Tips', 'Benefit Calculator / Housing Allowance');" target="_blank" alt="Click here for more information about the housing allowance.">
			        		Housing Allowance:
			        	</a>
			        </th>
			        <td id="housing-allow-term-1">$0 / month</td>
			        <td id="housing-allow-term-2">$0 / month</td>
			        <td id="housing-allow-term-3"></td>
			        <td id="housing-allow-total" style="font-weight: bold;">$0 / yr</td>
			      </tr>
		      	<tr>
		        	<th>
		        		<a id="book-stipend-calc-info-link-out"href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#bookstipend" onclick="track('Tool Tips', 'Benefit Calculator / Book Stipend');" target="_blank" alt="Click here for more information about the book stipend.">
		        		Book Stipend:
		        	</a>
		        	</th>
		        	<td id="book-stipend-term-1">$0 / term</td>
		        	<td id="book-stipend-term-2">$0 / term</td>
		        	<td id="book-stipend-term-3"></td>
		        	<td id="book-stipend-total" style="font-weight: bold;">$0 / yr</td>
		      	</tr>
		    	</tbody>
		  	</table>
    </div>

		</div>
	</div>

<!-- TOOLTIP MODALS--><!-- TOOLTIP MODALS--><!-- TOOLTIP MODALS--><!-- TOOLTIP MODALS-->
<!-- TOOLTIP MODALS--><!-- TOOLTIP MODALS--><!-- TOOLTIP MODALS--><!-- TOOLTIP MODALS-->

<!-- Tuition / Fees (/year): -->
<div id="calc-tuition" class="modal-style" style="display: none; position: fixed; opacity: 1; z-index: 11000; left: 50%; margin-left: -202px; top: 200px;">
  <div>
    <h3>Tuition / Fees (/year)</h3>
    <a class="modal_close" href="#"><i class="fa fa-close"></i></a>
      <p>Enter the total tuition/fees, you will be charged for the academic year.</p>
      
      <p>When you select some schools, we import the average tuition/fees for an undergraduate student as reported by the school to the Department of Education through <a href="http://nces.ed.gov/ipeds/datacenter/" id="anch_442" target="blank">IPEDS</a>. This is the same information that is published on <a href="http://nces.ed.gov/collegenavigator/" id="anch_443" target="blank">College Navigator</a>.</p>
      
      <p>To learn more, please review our "<a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#tuition_fees_input" target="_blank">About This Tool</a>" page.</p>
      
  </div>
</div>

<!-- END Tuition / Fees (/year): -->

<!-- Receiving Yellow Ribbon? -->
<div id="calc-yr" class="modal-style" style="display: none; position: fixed; opacity: 1; z-index: 11000; left: 50%; margin-left: -202px; top: 200px;">
  <div>
    <h3>Yellow Ribbon amount from school (/year)</h3>
    <a class="modal_close" href="#"><i class="fa fa-close"></i></a>
      <p>Enter the total tuition/fees, you will be charged for the academic year.</p>
      
      <p>How much will you be receiving in Yellow Ribbon support from your school? VA matches each dollar of unmet charges the institution agrees to contribute up to the total cost of tuition and fees.</p>
      <p><a title="Click here for FAQs about the Yellow Ribbon Program" href="http://www.benefits.va.gov/gibill/docs/factsheets/2012_Yellow_Ribbon_Student_FAQs.pdf" id="anch_455" target="_blank">Click here for FAQs about the Yellow Ribbon Program</a>&nbsp;</p>
      
      <p>To learn more, please review our "<a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#yellow_ribbon_from_school" target="_blank">About This Tool</a>" page.</p>
      
  </div>
</div>

<!-- END Receiving Yellow Ribbon? -->

<!-- Scholarships (not Pell):  -->
<div id="calc-scholarships" class="modal-style" style="display: none; position: fixed; opacity: 1; z-index: 11000; left: 50%; margin-left: -202px; top: 200px;">
  <div>
    <h3>Scholarships (not Pell)</h3>
    <a class="modal_close" href="#"><i class="fa fa-close"></i></a>
      <p>Are you receiving any scholarships and grants this year? If so, how much? Please only include scholarships and grants that go directly to pay tuition/fees. </p>
      
  </div>
</div>

<!-- END Scholarships (not Pell):  -->

<!-- Enrolled -->
<div id="calc-enrolled" class="modal-style" style="display: none; position: fixed; opacity: 1; z-index: 11000; left: 50%; margin-left: -202px; top: 200px;">
  <div>
    <h3>Enrolled</h3>
    <a class="modal_close" href="#"><i class="fa fa-close"></i></a>
      <p>Are you considered a full-time or part-time student by your school?</p>
      
      <p>Students attending school less than full-time receive a pro-rated monthly housing allowance. Students attending school exactly ½ time or less do not receive a monthly housing allowance.</p>
      
<p><a href="https://gibill.custhelp.com/app/answers/detail/a_id/1412/" id="anch_459" target="_blank">For more information about MHA increases or decreases click here</a>&nbsp;</p>
      
  </div>
</div>

<!-- END Enrolled -->

<!-- School Calendar -->
<div id="calc-school-calendar" class="modal-style" style="display: none; position: fixed; opacity: 1; z-index: 11000; left: 50%; margin-left: -202px; top: 200px;">
  <div>
    <h3>School Calendar:</h3>
    <a class="modal_close" href="#"><i class="fa fa-close"></i></a>
      <p>Is your school on a semester, quarter or non-traditional calendar system? </p>
      
  </div>
</div>

<!-- END School Calendar -->

<!-- Eligble for Kicker? -->
<div id="calc-kicker" class="modal-style" style="display: none; position: fixed; opacity: 1; z-index: 11000; left: 50%; margin-left: -202px; top: 200px;">
  <div>
    <h3>Eligble for Kicker?</h3>
    <a class="modal_close" href="#"><i class="fa fa-close"></i></a>
      <p>A kicker bonus is an additional incentive, paid for by the Department of Defense, to extend a tour of duty or retain highly skilled military personnel. The money is a bonus on top of any GI Bill payments paid directly to the Veteran.</p>
      
  </div>
</div>

<!-- END Eligble for Kicker? -->


<script>
$(document).ready(function() {
	/////////////////////////////////////////////////////////////////////////////
	// Based on school type does not change
	/////////////////////////////////////////////////////////////////////////////
	var institution_type = "<%= @school.institution_type.name.downcase %>";
	var institution = <%= @school.to_json.to_s.html_safe %>;

	var calculator = new Calculator(institution_type, institution);
});
    
    $("a[rel*=leanModal]").leanModal();
</script>
