<H3>Additional Resources
<div>
	<a href="http://www.benefits.va.gov/gibill/careerscope.asp" onclick="track('Timeline', 'Explore Your Career');" target="_blank">
    Explore Your Career
  </a>
</div>

<div>
  GI Bill<br>Comparison Tool
</div>

<div>
  <a href="http://www.benefits.va.gov/gibill/choosing_a_school.asp" onclick="track('Timeline', 'Choose a School');" target="_blank">
    Choose a School
  </a>
</div>

<div>
  <a href="https://www.ebenefits.va.gov/ebenefits-portal/ebenefits.portal?_nfpb=true&_nfxr=false&_pageLabel=Vonapp" onclick="track('Timeline', 'Apply for GI Bill');" target="_blank">
    Apply for GI Bill
  </a>
</div>

<div>
  <a href="http://www.benefits.va.gov/vocrehab/edu_voc_counseling.asp" onclick="track('Timeline', 'Succeed in School');" target="_blank">
    Succeed in School
  </a>
</div>

<div>
  <a href="https://www.ebenefits.va.gov/ebenefits/jobs" onclick="track('Timeline', 'Find Employment');" target="_blank">
    Find Employment
  </a>
</div>