<div class="usa-width-three-fourths">
  <!--  PLACEHOLDER FOR DEMO -->  
  <img src="../assets/demo-temp/education-nav.png">
  <p>&nbsp;</p>
</div>
<div class="usa-width-three-fourths">
  <!-- ================================================== -->
  <!--                School Selection Form               -->
  <!-- ================================================== -->
  <%= form_tag("/search", id: "input-section", style: "") do %>
    <div class="usa-card">
      <div class="usa-card-header">
        Step 1: Tell Us About Yourself
      </div>
      <div class="usa-card-content">
          <!-- About Yourself Section -->
          <div class="usa-width-one-half">
            <%= render partial: 'yourself', locals: { use_label: true } %>
          </div>
          <div class="usa-width-one-half">
            <label>
              Use the VA's GI Bill Comparison Tool to make the most of your GI Bill Benefit. 
              <!--  PLACEHOLDER FOR DEMO -->  
              <br><br>
              <img src="../assets/demo-temp/home-yourself.png">
            </label>
          </div>
      </div>
    </div>
    <div class="usa-card">
      <div class="usa-card-header">
        Step 2: About Your School
      </div>
      <div class="usa-card-content">
          <!-- About Your School Section -->
          <a name="about_your_school"></a>
          <div class="heading solid navy table"><h3>About your school:</h3></div>
          <%= render partial: 'your_school', locals: { use_label: true, advanced: true, form_id: '#input-section' } %>
        <p>
          Use the VA's GI Bill Comparison Tool to make the most of your GI Bill Benefit. 
        </p>
      </div>
    </div>
  <%= submit_tag 'Search Schools' %>
  <% end %>
</div>
<div class="usa-width-one-fourth">
  <div class="usa-card usa-card-fill">
    <div class="usa-card-header">
      Did You Know?
    </div>
    <div class="usa-card-content">
      <h4>
        Did you know that you may qualify for more than one GI Bill Program?
      </h4>
      <p>
        Vets.gov will soon be launching a new tool to help you determine
        which GI Bill Benefit will best help you achieve your academic goals!
      </p>
      <small><a href="#">
        Learn More About GI Bill Benefits
      </a></small>
    </div>
  </div>
</div>