<div class="heading solid orange">
  <h3>GI Bill<sup>&reg;</sup> Comparison Tool</h3>
</div>

<p style="padding: .5em .75em; 1em .75em;">Calculate your benefits and research approved programs.</p>

<!-- ================================================== -->
<!--                School Selection Form               -->
<!-- ================================================== -->
<%= form_tag("/search", id: "input-section", style: "") do %>
  <!-- About Yourself Section -->
  <a name="about_yourself"></a>
  <div class="heading solid navy table"><h3>Tell us about yourself.</h3></div>
  <%= render partial: 'yourself', locals: { use_label: true } %>

  <!-- About Your School Section -->
  <a name="about_your_school"></a>
  <div class="heading solid navy table"><h3>About your school:</h3></div>
  <%= render partial: 'your_school', locals: { use_label: true, advanced: true, form_id: '#input-section' } %>

  <%= submit_tag 'Search Schools' %>
<% end %>