<div class="heading solid orange">
	<h3>GI Bill<sup>&reg;</sup> Comparison Tool</h3>
</div>

<p style="padding: .5em .75em; 1em .75em;">Calculate your benefits and research approved programs.</p>

<div class="heading solid navy table">
	<h3>Tell us about yourself.</h3>
</div>

<!-- ================================================== -->
<!--              Institution Selection Form            -->
<!-- ================================================== -->
<%= form_tag("/search", id: "about-yourself", style: "") do %>
  
<!-- Military Status -->
  <div class="form-group top-aligned">
    <label for="military-status">Military Status: </label>
    <select id="military-status" name="military_status" alt="Select military status">
      <option value="veteran">Veteran</option>
      <option value="active duty">Active Duty</option>
      <option value="national guard / reserves">National Guard / Reserves</option>
      <option value="spouse">Spouse</option>
      <option value="child">Child</option>
    </select>
  </div>

  <!-- Spouse on Active Duty -->
  <div id="spouse-active-duty-form" class="form-group">
    <span class="question">Is your husband or wife on active duty? </span>

    <label class="radio" for="spouse-active-duty-yes">Yes</label>
    <input id="spouse-active-duty-yes" name="spouse_active_duty" type="radio" value="yes">

    <label class="radio" for="spouse-active-duty-no">No</label>
    <input id="spouse-active-duty-no" name="spouse_active_duty" type="radio" value="no" checked>
  </div>

  <!-- GI Bill Chapter Being Used -->
  <div id="gi-bill-chapter-form" class="form-group top-aligned">
    <label for="gi-bill-chapter">Which GI Bill benefit are you thinking of using ?</label>
    <select id="gi-bill-chapter" name="gi_bill_chapter" 
    	alt="Select which GI Bill benefit you are thinking of using">
      <option value="33" selected>Post-9/11 GI Bill (Ch 33)</option>
      <option value="30">Montgomery GI Bill (Ch 30)</option>
      <option value="1606">Select Reserve GI Bill (Ch 1606)</option>
      <option value="1607">REAP GI Bill (Ch 1607)</option>
      <option value="31">Vocational Rehabilitation & Employment (VR&E)</option>
      <option value="35">Dependents Educational Assistance (DEA)</option>
    </select>
  </div>

  <!-- Post-9/11 GI Bill Spectific Controls -->
  <div id="cumulative-service-form" class="form-group top-aligned">
    <label for="cumulative-service">Cumulative Post 9-11 Active Duty Service: </label>
    <select id="cumulative-service" name="post_911_service" 
    	alt="Select amount of cumulative Post 9-11 Active Duty Service">
      <option value="1.0" selected>36+ months: 100% (includes BASIC)</option>
      <option value="0.9">30 months: 90% (includes BASIC)</option>
      <option value="0.8">24 months: 80% (includes BASIC)</option>
      <option value="0.7">18 months: 70% (excludes BASIC)</option>
      <option value="0.6">12 months: 60% (excludes BASIC)</option>
      <option value="0.5">6 months: 50% (excludes BASIC)</option>
      <option value="0.4">90 days: 40% (excludes BASIC)</option>
      <option value="0.0">Less than 90 days 0% (excludes BASIC)</option>
      <option value="1.0">GYSGT Fry Scholarship: 100%</option>
      <option value="service discharge">Service-Connected Discharge: 100%</option>
    </select>
  </div>

  <!-- Montgomery Gi Bill Spectific Controls -->
  <div id="enlistment-service-form" class="form-group top-aligned">
    <label for="enlistment-service">Completed an enlistment of: </label>
    <select id="enlistment-service" name="enlistment" alt="Select length of your enlistment">
      <option value="3" selected>3 or more years</option>
      <option value="2">2 or more years</option>
    </select>
  </div>

  <!-- Select Reserve GI Bill Spectific Controls: None -->

  <!-- REAP GI Bill Spectific Controls -->
  <div id="consecutive-service-form" class="form-group top-aligned">
    <label for="consecutive-service">Length of Longest Active Duty Tour: </label>
    <select id="consecutive-service" name="consecutive_service" 
    	alt="Select the length of your longest actice duty tour">
      <option value="0.8" selected>2+ years of consecutive service: 80%</option>
      <option value="0.6">1+ year of consecutive service: 60%</option>
      <option value="0.4">90+ days of consecutive service: 40%</option>
    </select>
  </div>

	<!-- Vocational Rehabilitation & Employment Controls -->
	<div class="form-group top-aligned" id="voc-rehab-warning">
		To apply for VR&E benefits, please <a href="http://vabenefits.vba.va.gov/vonapp/main.asp" 
				onclick="track('Tool Tips', 'Voc Rehab Warning');" target="_blank">visit this site.</a>
	</div>

	<div id="elig-for-post-gi-bill-form" class="form-group">
    <span class="question">Are you eligible for the Post-9/11 GI Bill?<a 
    	href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#vre_post911_eligible" 
    	onclick="track('Tool Tips', 'Eligibility / VR&E Post 9/11 Eligible');" target="_blank" 
    	class="info-link" aria-describedby="post911-eligible-tooltip">i</a>
    </span>
    <label class="radio" for="elig-for-post-gi-bill-yes">Yes</label>
    <input id="elig-for-post-gi-bill-yes" name="post_911_eligible" type="radio" value="yes">

    <label class="radio" for="elig-for-post-gi-bill-no">No</label>
    <input id="elig-for-post-gi-bill-no" name="post_911_eligible" type="radio" value="no" checked>
  </div>

  <div id="number-of-dependents-form" class="form-group top-aligned">
    <label for="number-of-dependents">Number of Dependents </label>
    <select id="number-of-dependents" name="dependents" alt="Select the number of dependents you have">
      <option value="0" selected>0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
  </div>

  <!-- Dependents Educational Assistance Spectific Controls: None -->

  <!-- ================================================== -->
  <!--       School / Employer Information Section        -->
  <!-- ================================================== -->

  <!-- School Name Search -->
  <a name="about_your_school"></a>
  <div class="heading solid navy table">
    <h3>About your school:</h3>
  </div>

  <div id="institution-form" class="form-group">
    <label class="institution-search-label" for="institution-search">Enter a school or employer name to search:</label>
    <input id="institution" name="institution" placeholder="Search by School or Employer Name" title="Enter school/employer name" />
    <div>
      <a href="#advancedsearch">Advanced search</a>
    </div>
  </div>

  <!-- Online classes -->
  <div id="online-classes" class="form-group">
    <span class="question">Taking all online classes?</span>

    <label class="radio" for="online-classes-yes">Yes</label>
    <input id="online-classes-yes" name="online" type="radio" value="yes">

    <label class="radio" for="online-classes-no">No</label>
    <input id="online-classes-no" name="online" type="radio" value="no" checked>
  </div>

  <%= submit_tag 'Search' %>
<% end %>

<script>
$(document).ready(function() {
  /////////////////////////////////////////////////////////////////////////////
  // Military Status select
  /////////////////////////////////////////////////////////////////////////////
  $('#military-status').change(function() { 
  	var opt = $(this).val();

  	opt == 'spouse' ? $('#spouse-active-duty-form').show(100) : $('#spouse-active-duty-form').hide()
  }).change();

  /////////////////////////////////////////////////////////////////////////////
  // GI Bill benefit select
  /////////////////////////////////////////////////////////////////////////////
	$('#gi-bill-chapter').change(function() { 
  	var opt = $(this).val();

  	opt == '33' ? $('#cumulative-service-form').show(100) : $('#cumulative-service-form').hide();
  	opt == '30' ? $('#enlistment-service-form').show(100) : $('#enlistment-service-form').hide();
  	opt == '1607' ? $('#consecutive-service-form').show(100) : $('#consecutive-service-form').hide();

  	if (opt == '31') {
  		$('#voc-rehab-warning').show(100);
  		$('#elig-for-post-gi-bill-form').show(100);
  		$('#number-of-dependents-form').show(100);
  	}
  	else {
  		$('#voc-rehab-warning').hide();
  		$('#elig-for-post-gi-bill-form').hide();
  		$('#number-of-dependents-form').hide();
  	}

  }).change();

  /////////////////////////////////////////////////////////////////////////////
  // Institution autocomplete
  /////////////////////////////////////////////////////////////////////////////
  $('#institution').autocomplete({
    minLength : 3,
    source: "<%= autocomplete_path(:json) %>",
    select: function(event, ui) {
      event.preventDefault();
      $("#institution").val(ui.item.value);
      $('#about-yourself').submit();
    },
    focus: function(event, ui) {
      event.preventDefault();
      $("#institution-search").val(ui.item.label);
    }
  }).keypress(function(event) { 
    if (event.keyCode == 13)
      event.preventDefault();
  });
});
</script>