<div><h3>GI Bill<sup>&reg;</sup> Comparison Tool</h3></div>

<p>Calculate your benefits and research approved programs.</p>

<div><h3>Tell us about yourself.</h3></div>

<div id="about-yourself" style="padding-top: 1.5em;">
 	<!-- Military Status -->
	<div>
  	<label for="military-status">Military Status: </label>
  	<select id="military-status" name="military-status" alt="Select military status">
  		<option value="veteran">Veteran</option>
  		<option value="active-duty">Active Duty</option>
  		<option value="national-guard / reserves">National Guard / Reserves</option>
  		<option value="spouse">Spouse</option>
  		<option value="child">Child</option>
  	</select>
	</div>

  <!-- GI Bill Chapter Being Used -->
  <div>
    <label for="gi-bill-chapter">Which GI Bill benefit are you thinking of using?</label>
    <select id="gi-bill-chapter" name="gi-bill-chapter" alt="Select which GI Bill benefit you are thinking of using">
      <option value="33" selected>Post-9/11 GI Bill (Ch 33)</option>
      <option value="30">Montgomery GI Bill (Ch 30)</option>
      <option value="1606">Select Reserve GI Bill (Ch 1606)</option>
      <option value="1607">REAP GI Bill (Ch 1607)</option>
      <option value="31">Vocational Rehabilitation &amp; Employment (VR&amp;E)</option>
      <option value="35">Dependents Educational Assistance (DEA)</option>
    </select>
  </div>
</div>