<div class="usa-width-one-whole">
  <%= render partial: 'yourself', locals: { use_label: false } %>
  <a href="<%= root_path %>">Select New Schools</a></div>
</div>

<div class="usa-grid">
  <div class="usa-width-one-fourth">
    <%= render partial: 'filter' %>
  </div>

  <div class="usa-width-three-fourths">
    <%= render partial: 'school_summary', collection: @schools %>
  </div>
</div>