<div class="usa-width-one-whole filter-horizontal">
  <%= render partial: 'yourself', locals: { use_label: false } %>
    <p class="pull-right">
      <a href="<%= root_path %>">Select New Schools</a>
    </p>
</div>

<div class="usa-grid-full">
  <div class="usa-width-one-fourth">
    <%= render partial: 'filter' %>
  </div>

  <div>
		<p id="totals"></p>
		<div class="usa-width-three-fourths">
  		<%= render partial: 'school_summary', collection: @schools %>
		</div>
	</div>
</div>