// Modal stuff, will need to be scaled with more than one modal!
#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}


.modal_close { 
  position: absolute; 
  top: 12px; 
  right: 12px; 
  display: block; 
  z-index: 2;
}

.modal-style{
  max-width: 800px;
    width: 100%;
  padding: 3rem;
  display:none;
  background: #FFF;
    @media(max-width: $small-screen) {
        width: 80%;
        h3, p{
            font-size: 1.4rem;
            padding: .5rem;
            line-height: 1.6rem;
        }
    }
}

modal-style-wide{
  width: 800px;
  padding: 3rem;
  display:none;
  background: #FFF;
}

