// Style overrides and custom styles for the school profile page


@media(max-width: $small-screen) {
    .add-resources {display:none;} 
    #about-your-school{display:none;}
    #about-you {display:none;}
    #horiz-filters-noprint {display:none;}
    #horiz-filters-noprint2 {display:none;}
    }

@media(max-width: $medium-screen) {
    .add-resources {display:none;} 
    #about-your-school{display:none;}
    #about-you {display:none;}
    #horiz-filters-noprint {display:none;}
    #horiz-filters-noprint2 {display:none;}
    }

#profile-summary, #benefits{
    @media(max-width: $small-screen) {
        margin: 0 1rem;
        }
    }

.calc-questions, .calc-outputs{
    padding: 0 1rem ;
}

.back-chevron, .backlink{
    font-size: 1.4rem;
    margin-bottom: 1.4rem;
    @media(max-width: $small-screen) {
        font-size: 1.2rem;
        margin-left: .5rem;
     }
}

.back-chevron{
    margin-right: .425rem;
}

.complaints-table{
    th, tr, td{
    @media(max-width: $small-screen) {
        padding:.5rem;
        margin: 0;
        }
    }
}

.caution-profile{
    background-color: $va-body-accent-color;
    height: 4.2rem;
    width: 100%;
    padding: 0 .5rem .5rem 1.7rem;
    @media(max-width: $small-screen) {
        height: 3.2rem;
        padding: 0 .5rem .5rem .5rem;
        margin-top: .5rem;
     }
    i{
        @media(max-width: $small-screen) {
            display:none;
        }
    }
    
    a{
        color: #000;
        font-family: $font-sans;
        text-decoration: none;
        font-size: 1.5rem;
        line-height: 4.2rem;
        @media(max-width: $small-screen) {
            font-size: 1.0rem;
            line-height: 3.2rem;
        }
    }
}

.profile-head{
    color: $va-primary-color;
        @media(max-width: $small-screen) {
            font-size: 2rem;
            line-height: 2.5rem;
        }
}

.fa-profile-descriptors{
    font-size: 1.3rem;
    color: $va-primary-color;
    @media(max-width: $small-screen) {
        display:none;
    }
}

.profile-institute-qualifier{
    font-size: 1.3rem;
    color: #444;
    line-height: .5rem;
    text-transform: uppercase;
    background-color: #f1f1f1;
    padding: .5rem;
    @media(max-width: $small-screen) {
        font-size: 1.1rem;
    }
}

.profile-institute-descriptors{
    text-align: left;
    margin-top: 1.7rem;
    margin-right: 1rem;
    padding-bottom: 0;
    margin-bottom: 0;
    float: left;
    width: 20%;
    
    p{
        margin-bottom: .5rem;
    }
}



.profile-institute-value{
    font-size: 1.5rem;
    font-weight: 600;
    color: $va-primary-color;
    line-height: 2.2rem;
    margin-top: 0;
    margin-left: .5rem;
    @media(max-width: $small-screen) {
        font-size: 1.4rem;
    }
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.fa-profile-benefits{
    font-size: 5rem;
    color: $va-primary-color;
}

.profile-benefits-values{
    font-family: $roboto-slab;
    font-size: 2.6rem;
    color: $va-secondary-color;
    line-height: 1.1rem;
    text-align: center;
}

.benefits-cards{
    margin-top: .85rem;
    min-height: 21rem;
    @media(max-width: $small-screen) {
        min-height: 16rem;
    }
}

.fa-additional-resources{
    background-color: $color-primary;
    color: #fff;
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    margin: .25rem;
    margin-right: 1rem;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3rem;
    
    &:hover, :active {
        background-color: $va-body-accent-color;
      }

}

.fa-info-caution{
    color: #000;
    padding-left: 1.7rem;
}

.horz-timeline-text{
    font-size: 1.5rem;
    a{
        font-size: 1.5rem;
    
    }
}

.gi-bill-students{
    text-align: center;
}

.programs-text{
    font-size: 1.4rem;
    text-decoration: none;
    a{
        font-size: 1.5rem;
        text-decoration: none;
    }
}

.see-yr-rates-summary{
    font-size: 1.2rem;
    color:$va-secondary-color;
    text-align: left;
    line-height: 0;
    margin: .5rem 0 0 0;
    padding: 0;
}

.current-location{
    background-color: $va-body-accent-color;
}

.programs-yes, .programs-no {
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    font-size: 1.7rem;
    margin: 1rem;
}

.programs-yes{color:$va-secondary-color}

.programs-no{color:#888}

.va-summary-card{
    padding: 2rem;
    background-color: #fff;
    margin-bottom: 1.7rem;
}

.caution-profile-summary{
    background-color: $va-body-accent-color;
    th{
        width: 40%;
    }
}
.outcome-measure{
    max-width: 375px;
    min-width: 350px;
    float:left;
}
.outcomes-learnmore{
    font-size: 1.7rem;
}