.ui-autocomplete {
  max-height: 200px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}

.outcome-measure{
    margin: 1rem 1rem 1rem  0;
    padding: 1rem;
    min-height: 290px;
}
