
// extra colors

$va-primary-color: #003F72;
$va-secondary-color: #0083BE;
$va-tertiary-color: #444;
$va-highlight-color: #4FCEFF;
$va-body-content-color: #222;
$va-body-header-color: #000444;
$va-body-accent-color: #FAC922;
$va-body-background-color: #fff;
$va-start-color: #008674;
$va-alert-color: #741B30;



// Search


.overlay {
  z-index: 10000;
}

.reveal-modal #search_form {
  margin-bottom: 1em;
}

.reveal-modal .close-reveal-modal {
  font-size: 1em;
  clear: both;
  text-decoration: none;
  color: $color-gray-dark;
  text-align: center;
  margin: 1em 0;
  position: relative;
  top: auto;
  display: block;
  padding: 1em 0;
  right: auto;
  width: 100%;
  bottom: auto;
}

// General

html, body {
  padding: 0;
  margin: 0;
  font-family: $font-sans; font-weight: 500; color: $va-primary-color;
  transition: all 0.3s ease-in-out;
}

h1, h2, h3, h4, h5, h6, .usa-serif, .usa-font-lead {
  font-family: $roboto-slab;
}

a{
    font-family: $font-sans;
    color: $va-primary-color;
}

.caption{
    font-size: .75rem;
    a{
    font-size: .75rem;
    }
}

.clearfix{
    clear:both;
}

// Home Teaser Block - Lots of styles, I know....rl

#content ul.breadcrumbs li.active {
 margin: 0em;
}

.teaser-head{
    font-size: .75rem;
}

.teaser-container{
  margin-bottom: 2rem;
    @media(max-width: $small-screen) {
        display: none;
    }    
    @media(max-width: $medium-screen) {
        display: none;
    }
}

.whats-your-plan{
    @media(max-width: $small-screen) {
        display: none;
    }
    @media(max-width: $medium-screen) {
        display: none;
    }
}
.teaser-figure{
    font-family: $roboto-slab;
    font-size: 1.7rem;
    color: $va-primary-color;
    display: block;
}

.ui-autocomplete{
    background-color: #fff;
    border: 1px solid $olso-gray;
    text-indent: 1rem;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;

  .ui-state-focus {
      background-color: #ddd;
    }
}

.ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content {
  @media(max-width: $small-screen) {
    width: 93%;
  }
}

#institution-search {
  @media (max-width: $small-screen) {
    width: 100%;
  }
}

#search-button {
    height: 3rem;
    width: 200px;
    padding: 1rem;
    background-color: #0071bc;
    & a{
        color: #fff;
    }
    &:visited{
        color: #fff;
    } 
}

.ui-helper-hidden-accessible{
  display: none;
}

// OVERRIDES FOR WDS
form {
  max-width: none;
}

.usa-grid-full {
  max-width: 1200px;
}

.main-content {
  margin-bottom: 10rem;
}

.clearfix{
    @include clearfix;
}



ul li {
  &:before {
    content: none;
  }
}

.pull-right {
  float: right;
    margin-right: 0;
}

.usa-grid-full .usa-card .usa-width-three-fourths .usa-width-one-half .usa-width-one-fourth .nested {
  margin-right: 0;
    margin-top: 0;
}

.usa-card + .usa-card {
    margin-top: 0;
}

.new-row {
  margin-top: 1rem;
}

// Adding extra because we have more words 
.usa-search.usa-search-big.extra [type="submit"], .usa-search.usa-search-big .usa-search-submit {
  width: 20rem;
}

//.usa-search, .usa-search-big, .extra{
//    width: 260px;
//}

.radio{
    margin-right: 2rem;
}

.about-this-tool{
    margin-bottom: 1.7rem;
}
.applinks{
    text-align: center;
    font-family: $font-sans;
    font-size: .85rem;
    line-height: 4rem;
    margin-right: 2.5rem;
    margin-bottom: 2rem;
    @media(max-width: $small-screen) {
        font-size: 1.2rem;
        text-align: left;
        margin: 0;
        line-height: 1.2rem;
    }
    a.link{
    @media(max-width: $small-screen) {
        margin-left: 1rem;
        padding: .5rem;
    }
    }
}

// All the stuff for showing the form vertically along the top
.filter-horizontal{
  border-bottom: solid $color-gray-lightest thin;
  padding: 0 0;


  .filter-p[style] {
    display: inline-block !important;
    float: left;
    margin-right: 1rem;
  }
  .form-group {
    .filter-item {
        width: 16%;
        height: 2.5rem;
        margin-right: -1rem;
        float: left;
        background-image: none;
        font-size: 1rem;
        line-height: 1rem;
    }
    &:after {
      font-family: FontAwesome;
      content: "\f013";
      display: inline;
      float: left;
      left: -12px;
      margin-top: 6px;
      background: #fafafa;
      padding: 3px;
      position: relative;
      pointer-events: none;
    }
  }
}

.filter-button{
    height: 2.5rem;
    padding: .75rem;
    background-color: #0071bc;
    & a{
        color: #fff;
    }
    &:visited{
        color: #fff;
    }
}

.search-button-new{
    height: 4rem;
    a{color: #fff;}
}

// All the stuff for showing the left rail
.left-rail {
  margin-top: 43px;
  margin-bottom: 2rem;
  label, input, input[type="text"], input[type="email"], input[type="password"], input[type="url"], input[type="tel"], input[type="number"], input[type="search"], input[type="file"], input[type="date"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"], textarea, select {
    margin-top: 1rem;
    font-size: .75rem;
  }
}

.ui-autocomplete-input{
    @media(max-width: $small-screen) {
        width: 80%;
    }
}

.ui-menu-item{
    list-style: none;
    @media(max-width: $small-screen) {
        font-size: 1.3rem;
    }
}
.modal-bullets{
    font-size: 1.3rem;
    text-indent: 3rem;
    li{
    list-style-type: disc;
    }
}

.pagination-bottom{
    text-align: center;
    padding: 1.7rem;

    a, .cur-page{
        margin-right: 1rem;
        @media(max-width: $small-screen) {
            margin-right: .25rem;
            
    }
    }
}

.filtermargin{
    margin-top: 2rem;
}

.search-count{
    margin-left: 1rem;
//    margin-bottom: 1.7rem;
    @media(max-width: $small-screen) {
        font-size: 1rem;
    }
}

.filter-box{
    padding: 1rem 1rem;
    
}

.filter-p{
    margin-bottom: -1rem;
}
.nopad{
    padding: 0 0 0 0;
}

label{
    font-size: .78rem;
    @media(max-width: $small-screen) {
        font-size: 1.3rem;
    }
}
.nomargin{margin-right: 0;}
.nomarginall{margin: 0;}

.action-bar{
    padding: 15px 0 0 0;
}


.multicolumn-text{
  column-count:2;
  -moz-column-count:2;
  -webkit-column-count:2;
    
}
.text-center{
    text-align: center;
}

.about-you{
    font-size: 1rem;
    padding: 0;
    margin: 0;
    line-height: 2.5rem;
}

.noback{
    background: none;
}

.nopadding{
    padding: 0 0 0 0;
}

.noback-icon{
    background: none;
    text-decoration: none;
    &:hover{
        background: none;
        text-decoration: none;
    }
}
.red{background-color: red;}


#panel-filters.content{
    padding: 0;
}
.search-button-div{
    text-align: left;
    
}
#search-filters .usa-card-content{
    padding: 0  1rem 1rem 1rem;
}