// Footer

.usa-footer-big .usa-footer-primary-section.va {
  padding-bottom: 4rem;
}

.usa-footer{
a {
  text-decoration: underline;
  display: block;
  background: none;
  font-weight: 400;
  padding: .65em 0;
  @include media ($small-screen) {display: inline-block; padding: .25em 0;}
  &:hover {color:#fff;}
  &.contact, &.blog {
    padding: .65em; font-size: 1em;  text-align: center; border: 2px solid $color-secondary;
    @include media ($small-screen) {margin: 1.5em auto; display: inline-block;}
    &:hover, &:focus, &:active {
      background: $color-secondary; color: #fff;
    }
  }

}
}

.usa-footer-primary-section.va{
  background-color: #0e345e;
  @include media($medium-screen) {
    li a {
      text-decoration: underline;
      display: block;
      background: none;
      font-weight: 400;
      padding: .65em 0;
      @include media ($small-screen) {display: inline-block; padding: .25em 0;}
      &:hover {color:#fff;}
    }
  }
}
.usa-footer-secondary_section.va.one {
  background-color: $va-primary-color;
  height: 10rem;
  padding-top: 2rem;
}

.usa-footer-secondary_section.va.two {
  background-color: #205493;
  height: 10rem;
  padding-top: 2rem;
}

.usa-footer-primary-section.va, .usa-footer-secondary_section.va.one, .usa-footer-secondary_section.va.two {
  h2, h4, p, li, a {
    color: #fff;
  }
}
.usa-footer-secondary_section.va.one .footer-crisis a {
  color: $va-body-content-color;
}

.about-this-tool, applinks{
    a{
    font-family: $open-sans;
    color: $va-primary-color;
    text-decoration: none;
    
    &:hover{
        text-decoration: underline;
    }
    
    &:visited{
    color: $va-secondary-color;
    }
}
}

.footer-crisis {
  background:$va-body-accent-color;
  margin: 0.5rem;
  padding: 1rem;
  font-size: .85em;
  text-align: center;
  span {
    font-weight: bold;
    color: $va-body-content-color;
  }
  a {
    display:inline;
    text-decoration: none!important;

    @include media($small-screen) {
      padding: .25em 0;
    }
    @include media($medium-screen) {
      display:block
    }
  }
}

a.sec-bob-button{
    text-decoration: none;
    padding: 1.5rem;
    margin: .5rem;
    font-size: 1.4rem;
    font-weight: 700;
}

.usa-footer-logo{
    width:170px;
    height: 50px;
    background-image: url(asset_path('va_images/seal-footer.svg'));
    background-repeat: no-repeat;
}

.fa-social{
    font-size: 2rem;
    padding-right: 1.7rem;
}

.text-right{
    text-align: right;
}
