// VA header and logo
.va-site-header{
//  background-color: $va-secondary-color;
//  left: 0;
//  top: 0;
//  width: 100%;
//  z-index: 1;
//    padding-top: 15.3px;
////  margin-bottom: 5rem;
//  .va-site-navbar.upper{
//    height: 7.8rem;
//  }
}

header{
margin-bottom: 1.7rem;
}

.logo h1 a {
  background: url(asset_path('logo/logo.png')) top left no-repeat;
  height: 50px;
  background-size: contain;
  text-indent: 180%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  &:hover, &:active, &:focus {
    background: url(asset_path('logo/logo-hover.png')) top left no-repeat; background-size: contain;
  }
}

// lower section
.va-site-header .va-site-navbar.lower {
  background: $va-primary-color url(asset_path('thread.png')) top left no-repeat;
  background-size: cover;
  color: #fff;
  height: 23rem;
  h1 {
    padding-top: 3rem;
  }
}

.va-site-header a {
  border-bottom: none;
}

.va-site-header .va-site-navbar .logo {
  float: left;
  text-align: center;
  padding-top: 1.3rem;
  width: 70%;
}

.va-site-header .va-site-navbar .logo, .va-site-header .va-site-navbar .logo-secondary  {
//  padding-left: 3rem;
  text-align: left;
  padding-top: 0;
  width: auto;
}

.va-site-header .va-site-navbar h1 {
  margin: 0;
  display: block;
  margin-top: .9rem;
}

.message {
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
    span {

      display:inline-block;
      padding-left: .25em;

    }
    p {
      font-size: 1.5rem;
      font-weight: 300;
      margin-bottom: 0;
      margin-top: 0;
      padding: 0;
    }
    a{
     color: #fff;
    }
  }
