.calc-outputs{
    background-color: #E8F5FA;
//    float: left;
    margin: 0;
    box-sizing: border-box;
}


.calc-results-1, .calc-results-2, .profile-school-summary{
    th, tr, td{
     
    @media(max-width: $small-screen) {
        padding: .75rem .75rem;
    }
    }

.calc-title{
    text-align: left;
    border-width: 0 0 3px 0;
}
}

table{
    margin-top: 0;
    @media(max-width: $small-screen) {
        font-size: 1.2rem;
        line-height: 1.4rem;
        padding: 0;
        margin: 0;
    }
}

.noborder{
    border: none;
}

.border-bottom{
    border: 0px 0px 1px 0px;
    border-color: #444;
}

.align-right{
    text-align: right; 
}

.align-center{
    text-align: center; 
}

.align-left{
    text-align: left; 
}

.data-row{
    line-height: .5rem;
    @media(max-width: $small-screen) {
        line-height: 1.2rem;
    }
}

.term-calc-results{
    tr, th{
    border-width: 0 0 1px 0;
    }
    th{
        text-align: left;
    }
    td{
        border-right: 1px;
    }
}

.borderless{
    border: none;
    font-weight: 600;
}