// Style overrides and custom styles for the school profile page

.calc-questions, .calc-outputs{
    padding: 0 1rem ;
}

.back-chevron{
    font-size: 1.7rem;
}

.va-accordions{

}

.caution-profile{
    background-color: $va-body-accent-color;
    height: 5.2rem;
    width: 100%;
    padding: 0 .5rem .5rem 1.7rem;
    
    a{
        color: #000;
        font-family: $open-sans;
        text-decoration: none;
        font-size: 2rem;
        line-height: 5.2rem;
    }
}

.profile-head{
    color: $va-primary-color;
}

.fa-profile-descriptors{
    font-size: 3rem;
    color: $va-primary-color;
}

.profile-institute-descriptors{
    text-align: center;
    margin-top: 1.7rem;
}

.profile-years-programs{
    font-size: 3rem;
    font-weight: 800;
    color: $va-primary-color;
    line-height: 3rem;
}

.fa-additional-resources{
    background-color: $color-primary;
    color: #fff;
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    margin: .25rem;
    margin-right: 1rem;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3rem;
    
    &:hover, :active {
        background-color: $va-body-accent-color;
      }

}

.horz-timeline-text{
    font-size: 1.5rem;
    a{
        font-size: 1.5rem;
    
    }
}

.programs-text{
    font-size: 1.4rem;
    text-decoration: none;
    a{
        font-size: 1.5rem;
        text-decoration: none;
    }
}

.current-location{
    background-color: $va-body-accent-color;
}

.programs-yes, .programs-no {
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    font-size: 1.7rem;
    margin: 1rem;
}

.programs-yes{color:$va-secondary-color}

.programs-no{color:#888}

.va-summary-card{
    padding: 2rem;
    background-color: #fff;
}

.caution-profile-summary{
    background-color: $va-body-accent-color;
}