// VA header and logo
.va-site-header{
//  background-color: $va-secondary-color;
//  left: 0;
//  top: 0;
//  width: 100%;
//  z-index: 1;
//    padding-top: 15.3px;
////  margin-bottom: 5rem;
//  .va-site-navbar.upper{
//    height: 7.8rem;
//  }
}

header{
margin-bottom: 1.7rem;
}

.logo h1 a {
  background: url(asset_path('logo/logo.png')) top left no-repeat;
  height: 50px;
  background-size: contain;
  text-indent: 180%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  &:hover, &:active, &:focus {
    background: url(asset_path('logo/logo-hover.png')) top left no-repeat; background-size: contain;
  }
}

// lower section
.va-site-header .va-site-navbar.lower {
  background: $va-primary-color url(asset_path('thread.png')) top left no-repeat;
  background-size: cover;
  color: #fff;
  height: 23rem;
  h1 {
    padding-top: 3rem;
  }
}

.va-site-header a {
  border-bottom: none;
}

.va-site-header .va-site-navbar .logo {
  float: left;
  text-align: center;
  padding-top: 1.3rem;
  width: 70%;
}

.va-site-header .va-site-navbar .logo, .va-site-header .va-site-navbar .logo-secondary  {
//  padding-left: 3rem;
  text-align: left;
  padding-top: 0;
  width: auto;
}

.va-site-header .va-site-navbar h1 {
  margin: 0;
  display: block;
  margin-top: .9rem;
}

.message {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  span {
    display:inline-block;
    padding-left: .25em;

  }
  p {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
  }
  a{
   color: #fff;
  }
}

a.site-title{
    display:block;
    color: #fff;
    text-decoration:none; 
}

.trademark{
    font-size: 1.7rem;
    vertical-align: super;
}
.yellow-box{
//    width: 100%;
}

.va-site-navbar ul.breadcrumbs {
  background: none;
  border: none;
  h2 {font-size: 1em;}
  display: block;
  padding: 0;
  @include media ($small) {margin: 0 0 1em 0;}
  border-radius: 0;
  border-radius: none;
  -webkit-border-radius: 0;
    



  li {
    text-transform: none;
    display: block;
    margin: 0 0 1rem 0;
    padding: .65rem .25rem .5rem .25rem; 
    display: inline-block; 
    margin: 0;
    line-height: 1.75rem;
    vertical-align: middle;
    height: auto;
    font-size: .85rem;
    @include media ($small) {font-size: 1.35rem; line-height: 1.5rem;}
    &:hover  {border-bottom: none; text-decoration: none;}
    &.parent {
      a {background: none;}
      display: block;
      @include media ($small) {display: inline-block;}

      &:before {content: none; vertical-align: middle;}
      &:after {content:" › "; display: inline-block; color: #fff; padding: 0 .5rem;}

    }

    &.active {
      line-height: 3.2rem;
      background: $color-gold;
      color: #000;
      font-family: $roboto-slab;
      font-weight: 400;
      font-size: 3.2rem;
      overflow: visible;
      display: block;
      padding: .3rem;
      margin-bottom: 0;
      vertical-align: bottom;
      @include media ($small) {font-size: 1.5em; margin: 0; display: inline-block;}
      &:before {content: ""; padding: 0; margin: 0;}
    }


  }
  a {
    border-bottom: 3px solid #fff;
    background: none;
    text-decoration: none !important;
    color: #fff;
    &:hover {text-decoration: none; background: rgba(0,0,0,.1); border-bottom: 3px solid $color-gold;}
  }
}
