// Veterans.gov

//Colors

$va-primary-color: #003F72;
$va-secondary-color: #0083BE;
$va-tertiary-color: #444;
$va-highlight-color: #4FCEFF;
$va-body-content-color: #222;
$va-body-header-color: #000444;
$va-body-accent-color: #FAC922;
$va-body-background-color: #fff;
$va-start-color: #008674;
$va-alert-color: #741B30;

$polar:#E8F5FA;
$wild-sand:#f6f6f6;
$green-white:#eff0e6;
$olso-gray:#849097;

//fonts

$open-sans: 'Open Sans', Helvetica, Arial, sans-serif;
$roboto-slab: 'Roboto Slab', serif;

// General

html, body {
  padding: 0;
  margin: 0;
  font-family: $open-sans; font-weight: 500; color: $va-body-content-color;
  transition: all 0.3s ease-in-out;
}

h1, h2, h3, h4, h5, h6, .usa-serif, .usa-font-lead {
  font-family: $roboto-slab;
}

a{
    font-family: $open-sans;
    color: $va-primary-color;

    &:visited{
    color: $va-secondary-color;
    }
}

.caption{
    font-size: 1.2rem;
    a{
    font-size: 1.2rem;
    }
}

.clearfix{
    clear:both;
}

// Home Teaser Block - Lots of styles, I know....rl

.home-teaser{
    text-align: center;
}

.teaser-head{
    font-size: 1.2rem;
}

.teaser-container{
    padding-left: 3.4rem;
    @media(max-width: $small-screen) {
        display: none;
    }
}

.whats-your-plan{
    @media(max-width: $small-screen) {
        display: none;
    }
}

.fa-teaser{
    font-size: 4rem;
    color: $va-secondary-color;
}
.teaser-figure{
    font-family: $roboto-slab;
    font-size: 3rem;
    color: $va-primary-color;
}

.ui-autocomplete{
    background-color: #fff;
    border: 1px solid $olso-gray;
    text-indent: 1rem;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;

  .ui-state-focus {
      background-color: #ddd;
    }
}

.ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content {
  @media(max-width: $small-screen) {
    width: 93%;
  }
}

#institution-search {
  @media (max-width: $small-screen) {
    width: 80%;
  }
}

#search-button {
  @media (max-width: $small-screen) {
    width: 20%;
    display: inline-block;
    text-indent: -9999px;
  }
}

.ui-helper-hidden-accessible{
  display: none;
}

// OVERRIDES FOR WDS
form {
  max-width: none;
}

.usa-grid-full {
  max-width: 1200px;
}

.main-content {
  margin-bottom: 10rem;
}

.clearfix{
    @include clearfix;
}



ul li {
  &:before {
    content: none;
  }
}

.pull-right {
  float: right;
    margin-right: 0;
}

.usa-grid-full .usa-card .usa-width-three-fourths .usa-width-one-half .usa-width-one-fourth .nested {
  margin-right: 0;
    margin-top: 0;
}

.usa-card + .usa-card {
    margin-top: 0;
}

.new-row {
  margin-top: 1rem;
}

// Adding extra because we have more words 
.usa-search.usa-search-big.extra [type="submit"], .usa-search.usa-search-big .usa-search-submit {
  width: 20rem;
}

//.usa-search, .usa-search-big, .extra{
//    width: 260px;
//}

.radio{
    margin-right: 2rem;
}

.about-this-tool{
    margin-bottom: 1.7rem;
}
.applinks{
    text-align: center;
    font-family: $open-sans;
    font-size: 1.7rem;
    margin: 3.4rem;
    @media(max-width: $small-screen) {
        font-size: 1.2rem;
        text-align: left;
        margin: 0;
        line-height: 1.2rem;
    }
    a.link{
    @media(max-width: $small-screen) {
        margin-left: 1rem;
        padding: .5rem;
    }
    }
}

// All the stuff for showing the form vertically along the top
.filter-horizontal{
  border-bottom: solid $color-gray-lightest thin;
  padding-bottom: 2rem;
  margin-bottom: 3rem;

  .filter-p[style] {
    display: inline-block !important;
    float: left;
    margin-right: 1rem;
  }
  .form-group {
    .filter-item {
        margin-top: 1rem;
        width: 15%;
        height: 4rem;
        margin-right: -1rem;
        float: left;
        background-image: none;
        font-size: 1.3rem;
        line-height: 1.3rem;
    }
    &:after {
      font-family: FontAwesome;
      content: "\f013";
      display: inline;
      float: left;
      left: -12px;
      margin-top: 18px;
      background: #fff;
      padding: 3px;
      position: relative;
      pointer-events: none;
    }
  }
}
.search-button-new{
    height: 4rem;
    a{color: #fff;}
}

// All the stuff for showing the left rail
.left-rail {
  margin-top: 43px;
  margin-bottom: 3rem;
  label, input, input[type="text"], input[type="email"], input[type="password"], input[type="url"], input[type="tel"], input[type="number"], input[type="search"], input[type="file"], input[type="date"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"], textarea, select {
    margin-top: 1rem;
    font-size: 1.25rem;
  }
}

.ui-autocomplete-input{
    @media(max-width: $small-screen) {
        width: 80%;
    }
}

.ui-menu-item{
    @media(max-width: $small-screen) {
        font-size: 1.3rem;
    }
}
.modal-bullets{
    font-size: 1.3rem;
    text-indent: 3rem;
    li{
    list-style-type: disc;
    }
}

.pagination-bottom{
    text-align: center;
    padding: 1.7rem;
    a{
    font-family: $open-sans;
    color: $va-primary-color;

    &:visited{
    color: $va-secondary-color;
    }
    }
}

.search-count{
    margin-left: 1.7rem;
    margin-bottom: 1.7rem;
    @media(max-width: $small-screen) {
        font-size: 1.3rem;
    }
}

label{
    @media(max-width: $small-screen) {
        font-size: 1.3rem;
    }
}
.nomargin{margin-right: 0;}
