<!-- Profile Benefits Estimator -->    
<div id="benefits" class="large-12 columns accordion-vert-spacing">
  <ul class="accordion" data-accordion>
    <li class="accordion-navigation blueback-header">
      <h5>Your Estimated Benefits</h5>

      <div class="medium-4 columns">
        <div class="text-center benefits-cards">	
          <h4>Tuition and Fees</h4>
          <div class="icon benefits-estimator-icon-box">
            <i class="fa fa-graduation-cap fa-profile-benefits"></i>
          </div>
          <p id="est-tuition-fees" class="profile-benefits-values"></p>
        </div>
      </div>

      <div class="medium-4 columns">
        <div class="text-center benefits-cards">	
          <h4>Housing Allowance</h4>
          <div class="icon benefits-estimator-icon-box">
            <i class="fa fa-home fa-profile-benefits"></i>
          </div>
          <p id="est-housing-allowance" class="profile-benefits-values"></p>
        </div>
      </div>

      <div class="medium-4 columns">
        <div class="text-center benefits-cards">	
          <h4>Book Stipend</h4>
          <div class="icon benefits-estimator-icon-box">
            <i class="fa fa-book fa-profile-benefits"></i>
          </div>
          <p id="est-book-stipend" class="profile-benefits-values"></p>
        </div>
      </div>
    </li>
  </ul>
</div>
