/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
*/

@import 'jquery-ui';
@import 'application_split2.css';
@import 'va_common_main';
@import '_scss/all.scss';


/*********************************************************
** Stying for outcomes
*********************************************************/
.outcome {
	font-size: 1em;

	/* styling for the line */
	.axis path,
	.axis line {
  	fill: none;
  	stroke: #000;
  	shape-rendering: crispEdges;
	}

	/* This needs to be changed so that there are two colors */
	.bar {
	  fill: #FAC922;

	}

    #Vets {
        fill: #BEC292;
 }


	.x.axis path {
	  display: none;
	}

	.line {
	  fill: none;
	  stroke: #444;
	  stroke-width: 1px;
	}
}

#search-term {
  text-align: right;
  display: inline;
}