  <footer id="footer" class="usa-footer usa-footer-big usa-sans" role="contentinfo">
    <div class="about-this-tool usa-grid-full">
      <a class="applinks" href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp"
        onclick="track('Tool Tips', 'About this Tool');" target="_blank" >About this Tool</a>

      <a class="applinks"  href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#feedback" onclick="track('Tool Tips', 'Feedback');" target="_blank" title="Send us an email at 223D.VBAVACO@va.gov with “Comparison Tool” in the subject line.">Feedback</a>

      <a class="applinks"  href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#accessibility" onclick="track('Tool Tips', 'Accessibility');" target="_blank" title="The Comparison Tool is accessible to users utilizing assisted technologies, such as screen readers, screen magnifiers and voice recognition.">Accessibility</a>

        <a class="applinks" href="http://www.benefits.va.gov/GIBILL/docs/job_aids/ComparisonToolData.xlsx" onclick="track('Tool Tips', 'Full Data');">Download Data on All Schools (Excel)</a>
    </div>
    <div class="usa-footer-primary-section va">
      <div class="usa-grid-full">
        <div class="usa-footer-nav">
          <img class="usa-footer-logo-img" src="<%= asset_path('logo/logo.png')%>" alt="Logo image">
        </div>
        <nav class="usa-footer-nav usa-width-one-whole">
<div class="usa-width-one-fourth">
      <ul>
        <li><b>Benefits</b></li>
        <li><a href="https://www.vets.gov/disability-benefits/">Disability Benefits</a></li>
        <li><a href="https://www.vets.gov/education/">Education &amp; Training</a></li>
      </ul>
    </div>
            
<div class="usa-width-one-fourth">
      <ul>
        <li><b>Resources</b></li>
        <li><a href="https://www.vets.gov/employment/">Veterans Employment Center</a></li>
        <li><a href="https://www.vets.gov/facility-locator">Facility Locator</a></li>
        <li><a href="https://www.vets.gov/gibill/">GI Bill® Comparison Tool</a></li>
      </ul>
    </div>
          
    <div class="usa-width-one-fourth">
      <ul>
        <li><b>Process</b></li>
        <li><a href="https://www.vets.gov/playbook/">Playbook</a></li>
        <li><a href="https://www.vets.gov/experience/">Blog</a></li>
      </ul>
    </div>
            
<div class="usa-width-one-fourth nested">
      <ul>
        <li><b>Connect</b></li>
        <!-- <li><a href="/contact/">Contact Us</a></li> -->
        <li>
          <div class="usa-social-links">
            <a href="https://www.facebook.com/VeteransAffairs" target="_blank"><i class="fa fa-facebook fa-social"></i></a>
              <a href="https://twitter.com/DeptVetAffairs/" target="_blank"><i class="fa fa-twitter fa-social"></i></a>
          </div>
        </li>
      </ul>
    </div>
            
            
        </nav>
      </div>
    </div>
    <div class="usa-footer-secondary_section va one usa-footer-big-secondary-section">
      <div class="usa-grid-full">
        <div class="usa-footer-logo usa-width-one-third footer-seal">
        </div>
        <div class="usa-width-one-third">
          <p>
            <a href="http://www.va.gov/" target="_blank">VA.gov</a>
             |
            <a href="http://www.section508.va.gov/" target="_blank">Accessibility</a>
             |
            <a href="http://www.va.gov/privacy/" target="_blank">Privacy</a>
            |
            <a href="https://www.usa.gov/" target="_blank">USA.gov</a>
          </p>
        </div>
        <div class="usa-width-one-third">
          <div class="footer-crisis text-center">
          <a href="tel:1-800-273-8255"><span>Veterans Crisis Line</span>&nbsp;&nbsp;1-800-273-8255 (Press 1)</a>
        </div>
        </div>
      </div>
    </div>
    <div class="usa-footer-secondary_section va two usa-footer-big-secondary-section">
      <div class="usa-grid-full">
        <div class="usa-width-one-half">
          <a href="https://www.vets.gov/beta/2015/11/05/why-we-are-designing-in-beta.html" class="usa-button usa-button-outline-inverse sec-bob-button sec-bob-button">Help Us Create vets.gov: A Message from Secretary Robert McDonald</a>
        </div>
    <div class="usa-width-one-half text-right">
          <p>We need your feedback to make Vets.gov better.</p>
        </div>
      </div>
    </div>
  </footer>

<script>
// Include the UserVoice JavaScript SDK (only needed once on a page)
UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/VVQ8IxRU6QbvQIwK3pkJQ.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();
//
// UserVoice Javascript SDK developer documentation:
// https://www.uservoice.com/o/javascript-sdk
//
// Set colors
UserVoice.push(['set', {
  accent_color: '#808283',
  trigger_color: '#0F3D73',
  trigger_background_color: 'white'
}]);
// Identify the user and pass traits
// To enable, replace sample data with actual user traits and uncomment the line
UserVoice.push(['identify', {
  //email:      'john.doe@example.com', // User’s email address
  //name:       'John Doe', // User’s real name
  //created_at: 1364406966, // Unix timestamp for the date the user signed up
  //id:         123, // Optional: Unique id of the user (if set, this should not change)
  //type:       'Owner', // Optional: segment your users by type
  //account: {
  //  id:           123, // Optional: associate multiple users with a single account
  //  name:         'Acme, Co.', // Account name
  //  created_at:   1364406966, // Unix timestamp for the date the account was created
  //  monthly_rate: 9.99, // Decimal; monthly rate of the account
  //  ltv:          1495.00, // Decimal; lifetime value of the account
  //  plan:         'Enhanced' // Plan name for the account
  //}
}]);
// Add default trigger to the bottom-right corner of the window:
UserVoice.push(['addTrigger', {trigger_position: 'bottom-right' }]);
// Or, use your own custom trigger:
//UserVoice.push(['addTrigger', '#id']);
// Autoprompt for Satisfaction and SmartVote (only displayed under certain conditions)
UserVoice.push(['autoprompt', {}]);
</script>
