  <footer id="footer" class="usa-footer usa-footer-big usa-sans" role="contentinfo">
    <div class="about-this-tool usa-grid-full">
      <a class="applinks" href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp"
        onclick="track('Tool Tips', 'About this Tool');" target="_blank" >About this Tool</a>

      <a class="applinks"  href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#feedback" onclick="track('Tool Tips', 'Feedback');" target="_blank" title="Send us an email at 223D.VBAVACO@va.gov with “Comparison Tool” in the subject line.">Feedback</a>

      <a class="applinks"  href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#accessibility" onclick="track('Tool Tips', 'Accessibility');" target="_blank" title="The Comparison Tool is accessible to users utilizing assisted technologies, such as screen readers, screen magnifiers and voice recognition.">Accessibility</a>


        <a href="http://www.benefits.va.gov/GIBILL/docs/job_aids/ComparisonToolData.xlsx" onclick="track('Tool Tips', 'Full Data');"  class="applinks">Download Data on All Schools (Excel)</a>
    </div>
    <div class="usa-footer-primary-section va">
      <div class="usa-grid-full">
        <div class="usa-footer-nav usa-width-one-whole">
          <img class="usa-footer-logo-img" src="<%= asset_path('logo/logo.png')%>" alt="Logo image">
        </div>
        <nav class="usa-footer-nav usa-width-one-whole">
          <ul class="usa-unstyled-list usa-width-one-fourth usa-footer-primary-content">
            <h4 class="usa-footer-primary-link">Benefits</h4>
            <li><a href="#">Disability Benefits</a></li>
            <li><a href="#">Education &amp; Training</a></li>
          </ul>
          <ul class="usa-unstyled-list usa-width-one-fourth usa-footer-primary-content">
            <h4 class="usa-footer-primary-link">Resources</h4>
            <li><a href="#">Veteran Employment Center</a></li>
            <li><a href="#">Facility Locator</a></li>
            <li><a href="#">GI Bill Comparison Tool</a></li>
          </ul>
          <ul class="usa-unstyled-list usa-width-one-fourth usa-footer-primary-content">
            <h4 class="usa-footer-primary-link">Process</h4>
            <li><a href="#">Playbook</a></li>
            <li><a href="#">Blog</a></li>
          </ul>
          <ul class="usa-unstyled-list usa-width-one-fourth usa-footer-primary-content">
            <h4 class="usa-footer-primary-link">Connect</h4>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">[ICON][ICON]</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="usa-footer-secondary_section va one usa-footer-big-secondary-section">
      <div class="usa-grid-full">
        <div class="usa-footer-logo usa-width-one-third footer-seal">
        </div>
        <div class="usa-width-one-third">
          <p>
            <a href="#">VA.gov</a>
             |
            <a href="#">Accessibility</a>
             |
            <a href="#">Privacy</a>
            |
            <a href="#">USA.gov</a>
          </p>
        </div>
        <div class="usa-width-one-third">
          <div class="footer-crisis text-center">
          <span>Veterans Crisis Line</span> <a href="tel:1-800-273-8255">1-800-273-8255 (Press 1)</a>
        </div>
        </div>
      </div>
    </div>
    <div class="usa-footer-secondary_section va two usa-footer-big-secondary-section">
      <div class="usa-grid-full">
        <div class="usa-width-one-whole">
          <p>Help Us Create vets.gov: A Message from Secretary Robert McDonald</p>
        </div>
      </div>
    </div>
  </footer>