<header class="va-site-header" role="banner">
  <nav class="va-site-navbar upper">
    <div class="logo">
      <h1 role="banner">
        <a href="http://department-of-veterans-affairs.github.io/beta-site">Vets.gov
        </a>
      </h1>
    </div>
  </nav>
  <nav class="va-site-navbar lower">
    <div class="logo-secondary">
      <h1>
        GI Bill Benefits Comparison Tool
      </h1>
      <p class="usa-text-small"> 
        Learn about education programs and compare estimated benefits by school
      </p>
    </div>
  </nav>
</header>

