<header class="va-site-header" role="banner">
  <nav class="va-site-navbar upper">
    <div class="usa-grid-full">
      <div class="logo">
        <h1 role="banner">
          <a href="../">Vets.gov
          </a>
        </h1>
      </div>
    </div>
  </nav>
  <nav class="va-site-navbar lower">
    <div class="usa-grid-full">
      <div class="logo-secondary">
        <div class="usa-heading-alt">
          <h1>
            GI Bill Benefits Comparison Tool
          </h1>
        </div>
        <p class="usa-text-small"> 
          Learn about education programs and compare estimated benefits by school
        </p>
      </div>
    </div>
  </nav>
</header>

