<header class="va-site-header" role="banner">
  <div class="va-site-navbar upper">
    <div class="usa-grid-full">
        <div class="usa-width-one-whole">
			<p class="wip"><strong>This site is a work in progress.</strong> We’re designing in the open. If you don’t find what you need, visit <a href="http://www.va.gov">VA.gov</a>.</p>
		</div>
    </div>
  </div>
  <nav class="va-site-navbar lower">
    <div class="usa-grid-full">
      <div class="logo-secondary">
        <div class="usa-heading-alt">
        <div class="va-logo">
        <h1 role="banner">
          <a href="http://www.vets.gov">Vets.gov
          </a>
        </h1>
          <a href="http://staging.vets.gov/gibill" class="site-title">
              <h1>GI Bill<sup class="trademark">&reg;</sup> Benefits Comparison Tool</h1></a>
          
                    <p class="usa-text-small"> 
          Learn about education programs and compare estimated benefits by school
        </p>
        </div>

      </div>
    </div>
  </nav>
</header>

