<div class="about-this-tool">
  
  <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp" 
  	onclick="track('Tool Tips', 'About this Tool');" target="_blank" >About this Tool</a>
  
  <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#feedback" onclick="track('Tool Tips', 'Feedback');" target="_blank" title="Send us an email at 223D.VBAVACO@va.gov with “Comparison Tool” in the subject line.">Feedback</a>

  <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#accessibility" onclick="track('Tool Tips', 'Accessibility');" target="_blank" title="The Comparison Tool is accessible to users utilizing assisted technologies, such as screen readers, screen magnifiers and voice recognition.">Accessibility</a>
  
  Download Data on All Schools (<!--<a href="api/data.csv" onclick="track('Tool Tips', 'Full Data');">CSV</a>/--><a href="http://www.benefits.va.gov/GIBILL/docs/job_aids/ComparisonToolData.xlsx" onclick="track('Tool Tips', 'Full Data');">Excel</a>)
</div>